.input {
	padding: var(--padding);
	color: var(--border-color);
	border-radius: var(--radius);
	outline: none;
	border: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&::placeholder {
		color: var(--border-color);
		opacity: 0.6;
	}

	&:focus {
		color: var(--focus-color);
		border-color: var(--focus-border-color);
		box-shadow: 0 0 0 0.2rem var(--border-color-rgba);
	}
}

.solid {
	background-color: var(--bg-color);
	border: 1px solid var(--border-color);
}

.outlined {
	border-bottom: 1px solid var(--border-color);
	background-color: transparent;
	border-radius: 0;
}

.filled {
	border-bottom: 1px solid var(--border-color);
	background-color: var(--bg-color);
	border-radius: 0;
}

.label {
	font-size: 14px;
	font-weight: 500;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: var(--label-color);
}

.block {
	display: block;
	margin-bottom: 0.5rem;
	margin-left: 4px;
}

.inline {
	display: inline-block;
	margin-right: 1rem;
}
