.button {
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	border-radius: 0.8em;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	line-height: 1;
	padding: 10px 20px;
	font-size: var(--font-size, 14px);
	background-color: var(--button-background-color);
	color: #fff;
	text-align: center;
	transition: opacity 0.3s ease-in-out;
}

.button:hover {
	opacity: 0.8;
}

.button:active {
	opacity: 0.4;
}

.outlined {
	background-color: transparent;
	color: var(--button-background-color);
	border: 1px solid var(--button-background-color);
}
.dashed {
	background-color: transparent;
	color: var(--button-background-color);
	border: 1px dashed var(--button-background-color);
}
.filled {
	background-color: var(--button-background-color-grba);
	color: var(--button-background-color);
}
