.avatar {
	width: var(--width);
	height: var(--width);
	font-size: 1.6rem;
	border-radius: 50%;
	background-color: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-transform: uppercase;
	background-image: var(--image-url);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
